:root {
    --bpl-dashboard-primary-color: #146ef5;
    --bpl-dashboard-primary-color-rgb: 20, 110, 245;
    --bpl-dashboard-secondary-color: #ff7a00;
    --bpl-dashboard-secondary-color-rgb: 255, 122, 0;
    --bpl-dashboard-title-color: #070127;
    --bpl-dashboard-title-color-rgb: 7, 1, 39;
    --bpl-dashboard-content-color: #1b2e4b;
    --bpl-dashboard-content-color-rgb: 27, 46, 75;
}

.bPlDashboardHeader .navButtons .bPlButton.upgrade {
    gap: 10px;
}
.bPlDashboardWelcomeOverview .banner:before {
    background: none !important;
}

.bPlDashboardHeader .navButtons .bPlButton.upgrade svg {
    height: 1.2em;
    width: 1.2em;
}

@import '../../../bpl-tools/Admin/style.scss';

.bPlDashboardOverview .overviewLeft .overviewLeftTop .overviewBanner::before {
    background: none !important;
}