/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-section {
  // background: $red;
  // border: 0.2rem solid $black;
  // color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.bSectionOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bPluginsSectionContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bPluginsSectionContainer .block-editor-inner-blocks .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
  .block-list-appender {
    margin: 0 auto;
  }
}
.bShapeButtons {
  width: 100%;
}
.bShapeButtons button {
  justify-content: center;
  width: 50%;
}
.bDividerShape {
  position: absolute;
  width: 100%;
}
.bDividerShape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.bSectionShapeTop {
  top: 0;
  left: 0;
  right: 0;
}
.bSectionShapeBottom {
  bottom: 0;
  transform: rotate(180deg);
  right: 0;
  left: 0;
}
.ast-no-sidebar .entry-content .bSection.alignwide {
  margin-left: 0;
  margin-right: 0;
}
.bPluginsSectionContainer div {
  z-index: 100;
}
.alignfull {
  max-width: 100vw;
}
.blockOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hideBlockOnDevice.blockOverlay {
  position: absolute;
}
.blockOverlay + p {
  position: relative;
}
